body {
  font-family: Arial, sans-serif;
  background-image: url("imgs/Img.preta.JPEG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: screen;
  height: 1000px;
  margin: 0;
  padding: 0;
  background-size: cover;


}
.barra{ 
  background-color: black;
  height: 65px;
  width: 1519px;
  
}


.login {
  
  border-radius: 10px;
  top: 10;
  font-size: 18px;
 margin-left: 1180px; 
 width: 75px;
 height: 25px;
 background-color: white;
 padding: 7px ;
 

}

.cadastro {
font-size: 18px;
border-radius: 10px;
width: 118px;
 margin-left: 1300px; 
margin-top: 40px;
background-color: white;
height: 25px;
border: none;
cursor:pointer;
padding: 7px ;

}
.animated {
  position: relative;
  display: inline-block;
  width: 10px;
  margin-top: -22px;


}

.animated:hover .cadastro {
  background-color: #08a3ff;

}

.animated:hover .login {
  background-color: #08a3ff;

}

.txt{
margin-top: 2px;
  margin-left: 15px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
}

.txt2{
  margin-top: 2px;
    margin-left: 12px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    
  }




.caixa_texto {
  background-color: rgb(239, 245, 245);
  border-radius: 13px;
  height: 20%;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;


}


p {
  margin-top: 10px;
  font-size: 72%;
  margin-left: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 



}

a{
color: black;

  text-decoration: none;

}


.dropbtn {
  background-color: rgb(252, 250, 250);
  color: rgb(0, 0, 0);
  padding: 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 50px;
  font-weight: bold; 


  
  

}


.dropdown {
  position: relative;
  display: inline-block;
top: 30px;
margin-left: -25px;



}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 70px;



}


.dropdown-content a {

  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border-color: black;
}

.dropdown-content a:hover {
  background-color:  #08a3ff;
  border-radius: 10px;
  border-color: black;


}


.dropdown:hover .dropdown-content {
  display: block;

}


.dropdown:hover .dropbtn {
  background-color: #08a3ff;

}



#app {
  width: 612px;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 20%;
  left: 30%;
  border-radius: 30px;



}

.img-container {
  transition: 5s;


}